.App {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}


.App.dark {
  background-color: #0f0f0f;
}

.App.light{
  background-color: #E3E2DF;
}
